.detection__score{
    margin-top: 15rem;
}
.detection__score .heading{
    text-align: center;
}
.score__system{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.score__system > a{
    width: 200px;
    display: grid;
    place-items: center;
}
.score__card{
    margin-top: 5rem;
}
.card__heading{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.card__heading .card__icon{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: var(--extra-color-3);
    display: grid;
    place-items: center;
}
.card__heading .card__icon svg{
    color: var(--color--white);
    font-size: 3.5rem;
}
.score__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}
.score__text .text{
    line-height: 1.6;
}
.score__text .text span:nth-child(1)
{
    position: relative;
}
.score__text .text span:nth-child(1)::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background: var(--extra-color-3);
    border-radius: 50%;
}
.text span:nth-child(2)
{
    margin-left: 30px;
    font-weight: 600;
}






/* =========MEDIA QUERIES(MEDIAM SCREEN)======== */
@media screen and (max-width: 1024px) {
    .score__system{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .card__heading .card__icon{
        width: 45px;
        height: 45px;
        border-radius: 3px;
    }
  }
  
  
  
  /* =========MEDIA QUERIES(SMALL SCREEN)======== */
  @media screen and (max-width: 678px) {
    .score__system{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .card__heading .card__icon{
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }
    .card__heading .card__icon svg{
        font-size: 3rem;
    }
    .card__heading{
        gap: 1rem;
    }
  }